# DO NOT CHANGE the "init" and "install" sections below

# Download script file from GitHub
init:
  ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'

install:
  ps: Bootstrap

cache:
  - C:\RLibrary

environment:
  global:
    _R_CHECK_FORCE_SUGGESTS_: false
    USE_RTOOLS: true
    PKGTYPE: both

  matrix:
    - R_VERSION: devel
      R_ARCH: x64
      GCC_PATH: mingw_64
      BIOC_USE_DEVEL: TRUE

    - R_VERSION: release
      R_ARCH: x64
      GCC_PATH: mingw_64
      BIOC_USE_DEVEL: FALSE

    - R_VERSION: oldrel
      R_ARCH: x64
      GCC_PATH: mingw_64
      BIOC_USE_DEVEL: FALSE

# Adapt as necessary starting from here
build_script:
  # Installs packages biocon
  #- ./travis-tool.sh install_bioc GenomeInfoDbData
  #- travis-tool.sh github_package tkimhofer/msbrowser
  # Installs all packages in the DESCRIPTION file.
  - ./travis-tool.sh install_bioc_deps
  - travis-tool.sh install_deps
# Adapt as necessary starting from here

test_script:
  - travis-tool.sh run_tests

on_failure:
  - 7z a failure.zip *.Rcheck\*
  - appveyor PushArtifact failure.zip

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs

  - path: '\*_*.tar.gz'
    name: Bits

  - path: '\*_*.zip'
    name: Bits
