import("stats")
import("ggplot2")
import("methods")
import("RcppEigen")
import("abind")
importFrom("reshape", "melt")
importFrom("scales", "breaks_pretty")

exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(metabom8, .registration = TRUE)
